a(href='#/new')
	p#new-todo.btn.btn-default.pull-right + New Todo

ul.nav.nav-pills.nav-stacked
	li.nav-header Menu
	li#list-active.active
		a(href='#/todos') Active Todos
	li#list-completed
		a(href='#/todos/completed') Completed Todos