button#new-todo.btn.btn-default + New Todo

ul.nav.nav-pills.nav-stacked
    li.nav-header LISTS
    li.active
        a(href='#') Latests
    li
        a(href='#') Work
    li
        a(href='#') Personal