a(href='#/new')
	p#new-todo.btn.btn-default.pull-right + New Todo

ul.nav.nav-pills.nav-stacked
	li.nav-header LISTS
	li.active
		a(href='#/lists') Lists
	li
		a(href='#') Work
	li
		a(href='#') Personal