.logo TODO-app

ul.nav.nav-tabs
	li.active
		a(href="#") HOME
	li.dropdown
		a.dropdown-toggle(data-toggle="dropdown", href="#")
			| Info
			span.caret
		ul.dropdown-menu
			li
				a(href="doc") Documentation
			li
				a(href="test") Tests