
if !id
	h1 Not found
	p The todo you're looking for does not want to be found. :(
else
	h1 #{header}
	i #{date}
	p #{description}
	if done
		p
			button#click_toggle.btn.btn-lg.active Completed
	else
		p
			button#click_toggle.btn-lg.btn-primary Active


	button#click_edit.btn.btn-xs
		a(href='#{url}/edit') Edit
	span
	button#click_remove.btn.btn-danger.btn-xs Remove
