
h1 #{header}
i #{date}
p #{description}
if done
	p 
		button#click_toggle.btn.btn-lg.active Completed
else
	p
		button#click_toggle.btn-lg.btn-primary Active


button.btn.btn-xs
	a(href='#{url}/edit') Edit
span 
button#click_remove.btn.btn-danger.btn-xs Remove